<h2>List of all Surveys</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name </th>
            <th>Street Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip Code</th>
            <th>Telephone Number</th>
            <th>Email</th>
            <th>Date Of Survey</th>
            <th>Liked About Campus</th>
            <th>Heard From</th>
            <th>How likely you recommend?</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let survey of surveys" >
            <td> {{ survey.firstName }} </td>
            <td> {{ survey.lastName }} </td>
            <td> {{ survey.streetAddress }} </td>
            <td> {{ survey.city }} </td>
            <td> {{ survey.state }} </td>
            <td> {{ survey.zipCode }} </td>
            <td> {{ survey.telephoneNumber }} </td>
            <td> {{ survey.email }} </td>
            <td> {{ survey.dateOfSurvey }} </td>
            <td> {{ survey.likedAboutCampus }} </td>
            <td> {{ survey.heardFrom }} </td>
            <td> {{ survey.recommend }} </td>
        </tr>
    </tbody>
</table>
