
<nav class="navbar navbar-expand-sm navbar-fixed-top bg-success navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink=" " routerLinkActive="active"class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="create-survey" routerLinkActive="active" class="nav-link">New Survey</a>
    </li>
    <li class="nav-item">
      <a routerLink="surveys" routerLinkActive="active"class="nav-link">Surveys List</a>
    </li>
   
  </ul>
</nav>
<div class="container">
  <router-outlet>
  </router-outlet>
</div>

<footer class="footer navbar bg-success fixed-bottom">
  <div class="container ">
    <span class="centre">Find me on:      
    <a href="https://www.facebook.com/yaswanthreddy20/" target="_blank"><i class="fa fa-facebook-official w3-hover-opacity" style="color:#FFCC33;" ></i></a>&nbsp;&nbsp;
      <a href="https://www.instagram.com/yash_reddy_m/" target="_blank"><i class="fa fa-instagram w3-hover-opacity"style="color:#FFCC33;"></i></a>&nbsp;&nbsp;
      <a href="https://twitter.com/YaswanthReddy20" target="_blank"><i class="fa fa-twitter w3-hover-opacity"style="color:#FFCC33;"></i></a>&nbsp;&nbsp;
      <a href="github.com/yaswanthreddy20/" target="_blank"><i class="fa fa-github w3-hover-opacity"style="color:#FFCC33;"></i></a>&nbsp;&nbsp;
      <a href="https://www.linkedin.com/in/yaswanthreddy20/" target="_blank"><i class="fa fa-linkedin w3-hover-opacity"style="color:#FFCC33;"></i></a>
    </span>
  </div>
    </footer>